// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #FF7900;
$secondary: #ccc;
$tertiary: #ccc;

$success: #99E647;
$light: #d9d9d9;
$danger: #e3342f;
$warning: #f6993f;
$info: #3490dc;
$dark: #27251F;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "light": $light,
    "danger": $danger,
    "warning": $warning,
    "info": $info,
    "dark": $dark,
);